*{
    margin: 0;
}
/* Head Title */
.Head-Title{
font-family: 'Work Sans';
font-weight: 700;
font-size: 45px;
color: #131313;
margin-top: 85px;
margin-left: 100px;
} 
/* Navigation and head-title*/


.header-title{
    background-color:rgba(255, 144, 14, 0.1);
    }

nav{
    display: flex;
    justify-content: space-between;
    padding: 35px 200px;

   

}
nav ul{
    display: flex;
    align-items: center;
  
   
    
}
nav li{
    list-style: none;
    margin-top: 50px;
    margin-left: 30px;

font-family: 'Work Sans';

font-weight: 500;
font-size: 18px;

text-align: center;


color: #424242;


   }

   /* Header-banner */

   .brand-new{
    margin-left: 500px;
    margin-right: 300px;
    margin-bottom: 50px;
    
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #131313;
    }
   .Description{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-left: 550px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.btn-primary{
    
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: 0;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 18px 35px;
    height: 64px;
    margin-left: 700px;
    margin-right: 600px;
    margin-bottom: 50px;
    
}


.banner-img{
    padding: 0 50px 0px 50px;
    width: 1400px;
    height: 800px;
}
/* Features */


.Feature-title{
font-family: 'Work Sans';
font-weight: 500;
font-size: 45px;
color: #727272;
padding:300px 0 0 1085px ;



}
.Feature-description{
   font-family: 'Work Sans';
   font-weight: 400;
   font-size: 16px;
   color: #727272;
   padding:30px 0 0 1085px ;
    
    
}
.First-color{
    color: #131313;
}
.second-color{
    color:#FF900E ;
}
.btn{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: 0;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 18px 35px;
    height: 64px; 
    margin-left: 1085px;
    margin-top: 20px;
}

/* Feature Image */
.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 50px;
   
   
   }
   .team-tf{
    margin-right: 760px;
    margin-bottom: 24px;
   
   }

   /* Feature Enjoy */
   .Title{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 45px;
    color: #131313;
   padding-left: 200px;
   margin-top: 200px;
   
   }

.Description{
    font-family: 'Work Sans';
   font-weight: 400;
   font-size: 16px;
   color: #727272;
margin-left: 0px;
 padding: 0 200px 0 0;
}
#box{
   
        
        width: 300px;
        height: 100px;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
       margin-left: 200px;
       margin-bottom: 60px;
}
.button{
font-family: 'Work Sans';
font-weight: 700;
font-size: 65px;
line-height: 70px;
text-align: center;
color: #FFFFFF;

width: 342px;
height: 200px;
left: 880px;
top: 3104px;
background: #FF900E;
border-radius: 8px;
border: 0px;

margin: 100px 200px 100px 200px;
}

/* Some Facts  */
.Some-title{
font-family: 'Work Sans';
font-weight: 700;
font-size: 45px;
color: #131313;
padding-left: 200px;
margin-top: 200px;
margin-bottom: 24px;
   
}
.Some-description{
font-family: 'Work Sans';
font-weight: 400;
font-size: 16px;
color: #727272;
padding-left: 200px;
margin-bottom: 30px;
}


#container {
    display: flex;
    flex-direction: row;
  }
  
  .flex-row {
    
    align-items: center;
    margin-left: 180px;
    box-sizing: border-box;
    border: 1px solid #FF900E;
    border-radius: 10px;
    transform: rotate(360deg);

  }
  
  .icon {
    width: 45.22px;
    height: 45.22px;
    padding-left: 50px;
  }

.Text{
    padding-left: 50px;
    padding-right:50px ;
    font-family: 'Work Sans';
   font-weight: 600;
    font-size: 45px;
   text-align: center;
    color: #424242;
    
    
}
.Text-1{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    padding-left: 40px;


}

/* Roles of Architect  */
.Role-title{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
color: #131313;

margin-top: 200px;
text-align: center;
margin-bottom: 24px;

}
.Role{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    
    text-align: center;
    
    
    color: #727272;
    margin-bottom: 50px;
    list-style: none; 
}
.Role-img{
    margin-left: 600px;
}






/* Our Sponspors */
.Sponspors-title{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
color: #131313;

margin-top: 200px;
text-align: center;
margin-bottom: 24px;

}
.Spons-Description{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;

text-align: center;


color: #727272;
margin-bottom: 50px;
}
.sponspors-container{
    display: flex;
    gap: 50px;
    margin-left: 200px;
    
}
/* Footer */
.Footer{
    font-family: 'Work Sans';

font-weight: 400;
font-size: 20px;

text-align: center;
width: 1440px;
height: 100px;

color: #424242;
margin-top: 200px;

background: #FFF4E7;
border-radius: 8px;
padding: 40px;
}





